/Debug/
/Release/
/error.log
/Debug-Linux/
/Release-Linux/
/Debug-Win/
/Release-Win/
/core_cli
/core_cli.exe
/tau.selective
/plot.dat
/Debug-Win32/
/Release-Win32/
/normalized.csv
/.~lock.plot.ods#
/diff.dat
/diff2.dat
/diff5.dat
/diff3.dat
/diff4.dat
/plot2.dat
/out.dat
/out.csv
/gnuplot0.dat
/gnuplot1.dat
/cableCheck2.csv
